.loader
  border: 8px solid #f3f3f3 /* Светлый фон */
  border-top: 8px solid #3498db /* Цвет верхней части */
  border-radius: 50%
  width: 50px /* Ширина индикатора */
  height: 50px /* Высота индикатора */
  animation: spin 1s linear infinite /* Анимация вращения */
  margin: 20px auto /* Центрирование */

@keyframes spin
  0% 
    transform: rotate(0deg)
  100% 
    transform: rotate(360deg)